
@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<h2>RequestList</h2>

<table class="table">

    <thead>
        <tr>
            <td>
                Request ID
            </td>
            <td>
                Food Name
            </td>
            <td>
                Food Type
            </td>
            <td>
                Quantity
            </td>
            <td>
                Status
            </td>
            <td>
                Address
            </td>
            <td>
                Restaurant ID
            </td>
            <td>
                Employee ID
            </td>
        </tr>
    </thead>
</table>

