
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<h2>Profile</h2>

<p>Id: </p>
<p>Name: </p>
<p>Address: </p>
<p>Phone: </p>
<p>Join Date: </p>