nav{

    background-color: DarkSlateGrey;
      overflow: hidden;
    align: center;
}
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif, Helvetica, Arial;
}

nav a:hover {
    background-color: ghostwhite;
    color: black;
}